<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Ascii Art Web</title>
</head>

<body>

    <div class="container">
        <h1>ASCII Art Generator</h1>

        <form action="/ascii-art" method="POST">

            <textarea name="input" placeholder="Type something amazing..."></textarea>

            <select name="banner">
                <option value="standard">Standard</option>
                <option value="shadow">Shadow</option>
                <option value="thinkertoy">Thinkertoy</option>
            </select>

            <button type="submit">Generate ASCII Art</button>
        </form>


    </div>
    <div class="result">
        <pre>{{.Result}}</pre>
    </div>

</body>

</html>