<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ascii Art Web</title>
</head>
<body>
<form action="/ascii-art" method="POST">
    <textarea name="input" id=""></textarea>
    <select name="banner" id="">
        <option value="standard">standard</option>
        <option value="shadow">shadow</option>
        <option value="thinkertoy">thinkertoy</option>
    </select>
    <button type="submit">submit</button>
</form>
<pre>{{.Result}}</pre>
</body>
</html>